.content {
    font-size: 32px;
    flex: 1;
    display: flex;
    background-color: rgba(255, 255, 255, 0.822);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.janela {
    background-color: rgba(42, 63, 63, 0.822);
    border-radius: 1em;
    padding: 25px;
    color: #fff; 
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    color: #fff; 
}


nav a:hover {
    text-decoration: underline;
}