.content {
    background-color: rgba(167, 165, 165, 0.822);
    margin: 90;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column;
}
.titulo {
    font-size: 25px;
    font-weight: bold;
    border-radius: 1vh;
    background-color: #1d78a9;
    width: 9%;
    margin: 0 auto;
    padding: 10px;
    height: 100%;
}
