body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #fdc3c3, #c2ebff);
    background-size: 100% 100%;
    background-attachment: fixed; /* Adiciona essa propriedade */
    animation: gradientAnimation 10s ease infinite;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-top: 1vh;
    width: 65%;
    background-color: white;
    border-radius: 0.8vh;
    height: 98%;
}

header {
    border-bottom: 1px solid rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vh;
    overflow: auto;
    height: 86vh;
    max-height: 87vh;
}

::-webkit-scrollbar {
    width: 1vh; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 1vh; 
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

input {
    font-size: 2vh;
}
.titulo {
    font-size: 3vh;
    color: rgb(98, 98, 98);
    margin-bottom: 0.5vh;
}

form {
    padding-left: 5vh;
    padding-right: 5vh;
}
.second {
    font-size: 2vh;
    color: rgb(98, 98, 98);
    padding-bottom: 3vh;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.nomes {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    gap: 5vh;
}

.nome {
    height: 100%;
    width: 50%;
    border: none;
}

.nomes input{
    width: 100%;
    margin-top: 1vh;
    padding: 10px;    
    border: 1px solid #b2b2b2;
    background-color: white;
    -webkit-border-radius: 0.4vh;
    border-radius: 0.4vh;
    
    -webkit-box-shadow: 0px 1px 1px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 1px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.first {
    font-size: 2vh;
    color: rgb(0, 0, 0);
}

.red {
    color: #f3182e;
    font-size: 2vh;
}

.junta {
    display: flex;
    flex-direction: row;
}

.outro {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
}

.outro label {
    width: 100%;
}

.outro input{
    width: 100%;
    margin-top: 1vh;
    padding: 10px;    
    border: 1px solid #b2b2b2;
    background-color: white;
    -webkit-border-radius: 0.4vh;
    border-radius: 0.4vh;
    
    -webkit-box-shadow: 0px 1px 1px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 1px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.radio {
    display: flex;
    align-items: center;
    margin-top: 3vh;
}

.radio-label {
    margin-right: 3vh;
    font-size: 2vh;
}

.radio-options {
    display: flex;
    align-items: center;
}

.radio-options input[type="radio"] {
    display: none; /* Oculta os botões de rádio padrão */
}

.radio-options input[type="radio"] + label {
    margin-right: 3vh;
    cursor: pointer;
}

.radio-options input[type="radio"] + label::before {
    content: '';
    display: inline-block;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 1vh;
    vertical-align: middle;
}

.radio-options input[type="radio"]:checked + label::before {
    background-color: #007bff; /* Cor quando o botão de rádio está marcado */
}

.radio-options input[type="radio"]:checked + label {
    font-weight: bold; /* Altera o estilo da label quando o botão de rádio está marcado */
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #999;
}

.toggle-password.active i {
    color: #007bff;
}

.footer {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer a{
    text-decoration: none;
}

.footer div{
    width: 50%;
    display: flex;
    align-items: left;
}

.footer div input[type="submit"] {
    border: none;
    border-radius: 0.4vh;
    background-color: #ff1854;
    color: white;
    padding: 1.5vh;
    font-size: 2.1vh;
    cursor: pointer;
}

.footer div input[type="submit"]:hover {
  background-color: #b1002f;
  color: #38000f;
}

.footer div input[type="submit"]:active {
  background-color: #ffffff;
  color: #000000;
}
.footer h2 {
    width: 50%;
    align-items: right;
    font-size: 2vh;
    color: rgb(98, 98, 98);
}

.back{
    border: none;
    border-radius: 0.4vh;
    background-color: #ff1854;
    color: white;
    padding: 1vh;
    font-size: 1.5vh;
    text-align: center;
    cursor: pointer;
}

.back:hover{
    background-color: #b1002f;
    color: #38000f;
}

.back:active{
    background-color: #ffffff;
    color: #000000;
}

ins {
    color: rgb(74, 74, 255);
    cursor: pointer;
}