/* styles.scss */
@import 'reset'; // Importa o arquivo de reset

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$tamanhoImagem: 2vh; 
$clicavel: pointer;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

img {
    width: $tamanhoImagem;
    cursor: $clicavel;
}

.content {
    font-size: 32px;
    flex: 1;
    display: flex;
    background-color: rgba(255, 255, 255, 0.822);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.janela {
    background-color: rgba(42, 63, 63, 0.822);
    border-radius: 1em;
    padding: 25px;
    color: #fff; 
}