/* styles.scss */
@import 'reset'; // Importa o arquivo de reset
@import 'Responsive';

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$tamanhoImagem: 2vh; 
$clicavel: pointer;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

img {
    width: $tamanhoImagem;
    cursor: $clicavel;
}

.imgContent {
    @extend %centraliza1;
}
.content {
    @extend %centraliza2;
}