@media only screen and (max-width: 1464px) {
  .message {
    right: 10vh;
  }
  
  .dialog {
    right: 6vh;
  }
}

@media only screen and (max-width: 1406px) {
  .message {
    right: 5vh;
  }
  
  .dialog {
    right: 0vh;
  }
}

@media only screen and (max-width: 1362px) {
  .message {
    right: 8vh;
    top: 24vh; 
    height: 45vh;
    width: 79vh;
  }
  
  .dialog {
    right: 2vh;
    top: 24vh; 
    height: 50vh;
    width: 90vh;
  }
}

@media only screen and (max-width: 1300px) {
  .diabo {
    margin-left: 5vh;
  }
}

@media only screen and (max-width: 1262px) {
  .message {
    right: 15vh;
    top: 19vh;
    height: 55vh;
    width: 81vh;
    font-size: 4.5vh;
  }
  
  .dialog {
    right: 9vh;
    top: 22vh;
    height: 55vh;
    width: 90vh;
  }
}

@media only screen and (max-width: 1120px) {
  .diabo {
    height: 85vh;
  }
  .message {
    right: 11vh;
  }
  
  .dialog {
    right: 6vh;
  }
}

@media only screen and (max-width: 1075px) {
  .diabo {
    height: 80vh;
  }
  .message {
    right: 8vh;
  }
  
  .dialog {
    right: 3vh;
  }
}

@media only screen and (max-width: 1075px) {
  .message {
    right: 13vh;
    top: 23vh;
    height: 45vh;
    width: 71vh;
    font-size: 4.5vh;
  }
  
  .dialog {
    right: 7vh;
    top: 26vh;
    height: 45vh;
    width: 79vh;
  }
}

@media only screen and (max-width: 989px) {
  .message {
    right: 6vh;
    top: 24vh;
    height: 45vh;
    width: 71vh;
    font-size: 4vh;
  }
  
  .dialog {
    right: 3vh;
    top: 30vh;
    height: 40vh;
    width: 76vh;
  }
}

@media only screen and (max-width: 940px) {
  .diabo {
    height: 70vh;
  }
}

@media only screen and (max-width: 890px) {
  .message {
    right: 6vh;
    top: 32vh;
    height: 35vh;
    width: 61vh;
    font-size: 3.5vh;
  }
  
  .dialog {
    right: 3vh;
    top: 35vh;
    height: 35vh;
    width: 70vh;
  }
}

@media only screen and (max-width: 851px) {
  .contentMensagem {
    display: flex;
    align-items: start;
    justify-content: center;
  }
  .mensagem {
    display: flex;
    flex-direction: column;
  }
  .diabo {
    margin-top: 2vh;
    height: 70vh;
    margin-left: 0vh;
  }
  .message {
    position: absolute;
    right: 21vh;
    top: 71vh;
    height: 25vh;
    width: 77vh;
    font-size: 4vh;
  }
  
  .dialog {
    right: 20vh;
    top: 72vh;
    height: 26vh;
    width: 80vh;
  }
}

@media only screen and (max-width: 821px) {
  .message {
    right: 17%;
  }
  
  .dialog {
    right: 16%;
  }
}

@media only screen and (max-width: 747px) {
  .message {
    right: 13%;
  }
  
  .dialog {
    right: 13%;
  }
}

@media only screen and (max-width: 691px) {
  .message {
    right: 10%;
  }
  
  .dialog {
    right: 9%;
  }
}

@media only screen and (max-width: 631px) {
  .diabo {
    height: 70vh;
    margin-top: 4vh;
  }
  .message {
    right: 9%;
    top: 73vh;
    height: 22vh;
    width: 70vh;
    font-size: 3vh;
  }
  
  .dialog {
    right: 9%;
    top: 75vh;
    height: 22vh;
    width: 70vh;
  }
}

@media only screen and (max-width: 500px) {
  .message {
    right: 4%;
  }
  .dialog {
    right: 4%;
  }
}

@media only screen and (max-width: 472px) {
  .message {
    right: 1%;
  }
  .dialog {
    right: 1%;
  }
}

@media only screen and (max-width: 462px) {
  .message {
    right: 9%;
    height: 18vh;
    width: 60vh;
    font-size: 2.5vh;
  }
  
  .dialog {
    right: 9%;
    height: 17vh;
    width: 61vh;
  }
}

@media only screen and (max-width: 440px) {
  .message {
    right: 5%;
  }
  
  .dialog {
    right: 5%;
  }
}

@media only screen and (max-width: 423px) {
  .message {
    right: 1%;
  }
  
  .dialog {
    right: 1%;
  }
}

@media only screen and (max-width: 400px) {
  .message {
    right: 6%;
    height: 21vh;
    width: 50vh;
    font-size: 2.2vh;
  }
  
  .dialog {
    right: 3%;
    height: 20vh;
    width: 55vh;
  }
}

@media only screen and (max-width: 369px) {
  .message {
    right: 5;
  }
  
  .dialog {
    right: 1%;
  }
}

