@media only screen and (max-width: 900px) {
  .content {
    font-size: 2.5vh;
    transition: font-size 0.5s;
    
  }
  .alertDiv {
    height: 70vh;
    width: 90vh;
    padding: 5vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .block {
    height: 39%;
  }
}
  
@media only screen and (max-width: 800px) {
  .content {
    font-size: 2.3vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 70vh;
    width: 80vh;
    padding: 4vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 3vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media only screen and (max-width: 700px) {
  .content {
    font-size: 2.2vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 70vh;
    width: 75vh;
    padding: 5vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 3vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media only screen and (max-width: 666px) {
  .content {
    font-size: 2.2vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 60vh;
    width: 70vh;
    padding: 5vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 3vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media only screen and (max-width: 630px) {
  .content {
    font-size: 2.1vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 55vh;
    width: 65vh;
    padding: 5vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 4vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media only screen and (max-width: 590px) {
  .content {
    font-size: 2.1vh;
    gap: 2vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 49vh;
    width: 59vh;
    padding: 5vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 4vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media only screen and (max-width: 536px) {
  .content {
    font-size: 2vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 44vh;
    width: 54vh;
    padding: 4vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 4vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media only screen and (max-width: 536px) {
  .content {
    font-size: 2vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 44vh;
    width: 54vh;
    padding: 4vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 4vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
  .block {
    height: 46%;
  }
}

@media only screen and (max-width: 361px) {
  .content {
    font-size: 2vh;
    transition: font-size 0.5s;
  }
  .alertDiv {
    height: 39vh;
    width: 49vh;
    padding: 4vh;
    transition: height 0.5s,width 0.5s, padding 0.5;
  }
  .footer {
    margin-top: 4vh;
    font-size: 1.7vh;
    border-radius: 1em;
    padding: 0.5vh;
    padding-left: 4vh;
    padding-right: 4vh;
  }
}

@media only screen and (max-width: 536px) {

}

@media only screen and (max-width: 536px) {

}

@media only screen and (max-width: 536px) {

}

@media only screen and (max-width: 536px) {

}

@media only screen and (max-width: 536px) {

}

@media only screen and (max-width: 536px) {

}