html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.content {
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    min-width: 99.5%;
    font-family:'Oxygen';
    padding: 0px;
    margin: 0 auto;
    background-color: #d2eff3;
}

.alertDiv {
    opacity: 0;
    height: 80vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    padding: 5vh;
    transition: background-color 0.5s;
    user-select: none;
}

.alerta {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1c384e;
    text-transform: uppercase;
    transition: color 0.5s;
}

.alertDiv:hover{
    background-color: black;
}

.alertDiv:hover .alerta {
    color: white;
}

.footer {
    margin-top: 2vh;
    font-size: 2vh;
    z-index: 1;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #d2eff3;
    border-radius: 1em;
    padding: 0.6vh;
    padding-left: 4.5vh;
    padding-right: 4.5vh;
    transition: background-color 0.3s,color 0.3s;
    user-select: none;
    text-decoration: none;
    color: black;
}

.footer:hover {
    background-color: #1c384e;
    color: #d2eff3;
}

.footer:active {
    background-color: black;
    color: white;
}

.block {
    position: absolute;
    z-index: 0;
    bottom: 0;
    height: 39%;
    width: 100%;
    background-color: #91aecc;
}